body {
  font-size: 0.024rem;
}

.input {
  font-size: 0.032rem;
  border: 2px solid #eee;
  /*no*/
  line-height: 0.048rem;
  line-height: 4.8vw;
  height: 0.125333rem;
  height: 12.533333vw;
}

.i {
  width: 0.16rem;
  width: 16vw;
  height: 0.266667rem;
  height: 26.666667vw;
}